# Bot token from @BotFather
BOT_TOKEN=8718010320:AAGee53aHgsIivfhNqa6HxJXmCzoPxUDTZw

# Bot username (without @)
# Example: Getai_approvedbot
BOT_USERNAME=Gapautoapprovebot
# Supabase credentials
SUPABASE_URL=https://uklxlappjcuvdqjvecfh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrbHhsYXBwamN1dmRxanZlY2ZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODE0NzA4MywiZXhwIjoyMDgzNzIzMDgzfQ.8raDYx4BqeVELD691E720qBORhWEI4L68c_ED2JIt5w

SESSION_DIR=sessions
SUPABASE_BUCKET=sessions